<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
{% extends 'base.html' %}


{% block content %}
    <h2>Sign Up</h2>

    {% if error %}
        {{ error }}
        <br/>
        <br/>
    {% endif %}


    <form method="post">
        {% csrf_token %}
        {% if request.GET.next %}
            <input type="hidden" name="next" value= {{ request.GET.next }}/>
        {% endif %}

        Username:
        <br/>
        <input type="text" name="username"/>
        <br/>
        Password:
        <br/>
        <input type="password" name="password"/>
        <br/>
        Re-Password:
        <br/>
        <input type="password" name="re-password"/>
        <br/>
        <br/>
        <input class="btn btn-primary" type="submit" value="SignUp">
        <br/>


    </form>
    <br>
    <p><strong>-- OR --</strong></p>
    <a href="{% url 'social:begin' 'twitter' %}?key={{ user_type }}">SignUp with Twitter</a><br>
    <a href="{% url 'social:begin' 'facebook' %}?key={{ user_type }}">SignUp with Facebook</a>
    </form>

{% endblock %}
</body>
</html>