<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
    <h2>Hey There</h2>
    <br>
    <h2>Who Are You</h2>
    {% if error %}
        {{ error }}
        <br/>
        <br/>
    {% endif %}

    <div class="btn-group">
        <form action="influencer" method="get">
            {% csrf_token %}
            {% if request.GET.next %}
                <input type="hidden" name="next" value= {{ request.GET.next }}/>
            {% endif %}

            <input class="btn btn-primary btn-lg" type="submit" value="Influencer"
                   name="Submit"/>
        </form>
        <p><a><strong> OR </strong></a></p>
        <form action="brand" method="get">
            {% csrf_token %}
            {% if request.GET.next %}
                <input type="hidden" name="next" value= {{ request.GET.next }}/>
            {% endif %}

            <input class="btn btn-primary btn-lg" type="submit" value="Brand"
                   name="Submit"/>
        </form>
    </div>

{% endblock %}
</body>
</html>
