{% extends 'base.html' %}

{% block content %}
    <h2>Create New Advertisement</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            {% for field in create_advertisement_form %}
                <div class="col-lg-6 col-md-12 col-sm-12 ">
                    <table class="table table-borderless">
                        <tbody>
                        <tr>
                            <td><h3>{{ field.label_tag }}</h3></td>
                        </tr>
                        <tr>
                            <td>{{ field }}</td>
                        </tr>
                        <tr>
                            <td><span style="color:red">{{ field.errors }}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td><input type="submit" class="btn btn-primary btn-lg" value="Create Adv"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
{% endblock %}
