{% extends 'base.html' %}

{% block content %}
    <h2>{{ advsummary.name }}</h2>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 ">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td><h2>Ad Budget</h2></td>
                </tr>
                <tr>
                    <td><h3>{{ advsummary.budget }}</h3></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 ">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td><h2>Max Fee Per Like</h2></td>
                </tr>
                <tr>
                    <td><h3>{{ advsummary.max_fee_per_like }}</h3></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 ">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td><h2>Ad Expire Date</h2></td>
                </tr>
                <tr>
                    <td><h3>{{ advsummary.expire_date }}</h3></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Advertisement Categories</h4>
        <div class="row">
            {% for field in form %}
                {% if field.id_for_label in 'id_categories' or field.id_for_label in 'id_adv_desc' %}
                    <div class="col-lg-6 col-md-12 col-sm-12 ">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <td><h3>{{ field.label_tag }}</h3></td>
                            </tr>
                            <tr>
                                <td>
                                    {{ field }}</td>
                                <td>
                            </tr>
                            <tr>
                                <td>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        {% if field.help_text %}
                                            <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <td><span style="color:red">{{ field.errors }}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            {% for field in form %}
                {% if field.id_for_label not in 'id_categories' %}
                    {% if field.id_for_label in 'id_adv_min_follower' or field.id_for_label in 'id_adv_max_follower' %}
                        <div class="col-lg-6 col-md-12 col-sm-12 ">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td><h3>{{ field.label_tag }}</h3></td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ field }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                            {% if field.help_text %}
                                                <p class="help">{{ field.help_text|safe }}</p>
                                            {% endif %}
                                        </small>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span style="color:red">{{ field.errors }}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            {% for field in form %}
                {% if field.id_for_label not in 'id_categories' and field.id_for_label in 'id_advertisement_image' %}
                    <div class="col-lg-6 col-md-12 col-sm-12 ">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <td><h3>{{ field.label_tag }}</h3></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Upload</span>
                                        </div>
                                        <div class="custom-file">
                                            {{ field }}
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        {% if field.help_text %}
                                            <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </small>
                                </td>
                            </tr>
                            <tr>
                                <td><span style="color:red">{{ field.errors }}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <input type="submit" class="btn btn-primary btn-lg" value="Submit"/>
    </form>

{% endblock %}